Repository marcus-sa/deepkit-graphql: changes, and which lefthook commands are due for each by the changed paths.
All: github-actions, eslint, prettier

github-actions:
  run: echo {staged_files} && actionlint

eslint:
  run: yarn eslint --quiet --fix {staged_files} && git add {staged_files}

prettier:
  run: yarn prettier --write {staged_files} && git add {staged_files}

chore(apollo): release 0.0.3
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore: release
  packages/apollo/.release-it.json
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
  packages/core/.release-it.json
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: prettier

chore(core): release 0.0.5
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.0.5
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

build(core,apollo): fix npm publish
  packages/apollo/.release-it.json
  packages/core/.release-it.json
  packages/core/src/lib/decorators.spec.ts
  packages/core/src/lib/decorators.ts
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
Due: eslint, prettier

chore(core): release 0.0.6
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.0.6
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore: release
  package.json
Due: prettier

chore(core): release 0.0.7
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.0.7
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore: release
  package.json
  packages/apollo/package.version
  packages/core/package.version
Due: prettier

chore(core): release 0.1.1
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.1.1
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

feat(apollo,core,yoga): initial yoga package
  package.json
  packages/apollo/src/lib/apollo-graphql-driver.ts
  packages/core/src/lib/driver.ts
  packages/yoga/.eslintrc.json
  packages/yoga/.release-it.json
  packages/yoga/CHANGELOG.md
  packages/yoga/README.md
  packages/yoga/jest.config.ts
  packages/yoga/package.json
  packages/yoga/package.version
  packages/yoga/project.json
  packages/yoga/src/index.ts
  packages/yoga/src/lib/yoga-graphql-config.ts
  packages/yoga/src/lib/yoga-graphql-driver.ts
  packages/yoga/src/lib/yoga-graphql.module.ts
  packages/yoga/tsconfig.json
  packages/yoga/tsconfig.lib.json
  packages/yoga/tsconfig.spec.json
  pnpm-lock.yaml
Due: eslint, prettier

chore(core): release 0.1.2
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.1.2
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore(yoga): release 0.1.2
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

chore: save
  package.json
  packages/core/src/lib/decorators.spec.ts
  packages/core/src/lib/decorators.ts
  packages/core/src/lib/directives.ts
  packages/core/src/lib/driver.ts
  packages/core/src/lib/schema-builder.ts
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
  packages/core/src/lib/utils.ts
  packages/yoga/src/lib/yoga-graphql-config.ts
  packages/yoga/src/lib/yoga-graphql-driver.ts
  packages/yoga/src/lib/yoga-graphql.module.ts
  pnpm-lock.yaml
Due: eslint, prettier

feat(core): better subscription support
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
  packages/core/src/lib/utils.ts
Due: eslint

chore(core): add missing peer dependencies to package.json
  packages/core/package.json
Due: prettier

refactor(core): improve subscription internals
  packages/core/src/lib/decorators.spec.ts
  packages/core/src/lib/errors.ts
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
  packages/core/src/lib/utils.ts
Due: eslint

refactor(core): improve subscription internals
  packages/core/src/lib/decorators.ts
  packages/core/src/lib/types-builder.ts
Due: eslint

test: fix
  packages/core/src/lib/types-builder.spec.ts
Due: eslint

chore: fix lefthook.yml
  lefthook.yml
Due: prettier

ci: fix commitlint.yml
  .github/workflows/commitlint.yml
Due: github-actions, prettier

feat: upgrade deepkit dependencies
  package.json
  packages/apollo/package.json
  packages/core/package.json
  packages/core/src/lib/__snapshots__/decorators.spec.ts.snap
  packages/core/src/lib/decorators.spec.ts
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
  packages/core/src/lib/utils.ts
  packages/yoga/package.json
  patches/@deepkit__type-compiler@1.0.1-alpha.105.patch
  patches/typescript@5.2.2.patch
  pnpm-lock.yaml
Due: eslint, prettier

chore(core): release 0.2.0
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.2.0
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore(yoga): release 0.2.0
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

refactor(core): use TypeAnnotation instead of manually specifying meta field
  packages/core/src/lib/types.ts
Due: eslint

refactor(core): maybeUnwrapSubscriptionReturnType function
  packages/core/src/lib/utils.ts
Due: eslint

chore(core): release 0.2.1
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.2.1
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore(yoga): release 0.2.1
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

feat(core): exclude excluded type properties in generated graphql object type
  packages/core/src/lib/errors.ts
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
  packages/core/src/lib/utils.spec.ts
  packages/core/src/lib/utils.ts
Due: eslint

chore(core): release 0.3.0
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.2.2
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore(yoga): release 0.2.2
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

test(core): update broker bus channel return type test
  packages/core/src/lib/types-builder.spec.ts
Due: eslint

feat(core,apollo,yoga): upgrade deepkit
  package.json
  packages/apollo/package.json
  packages/core/package.json
  packages/core/src/lib/types-builder.ts
  packages/yoga/package.json
  pnpm-lock.yaml
Due: eslint, prettier

Path conditions:
  github-actions: any of: *.{yaml,yml} and ^\.github/
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{json,yml,yaml,html,graphql}
