Repository marcus-sa/deepkit-graphql: changes, and which lefthook commands are due for each by the changed paths.
All: github-actions, eslint, prettier

lefthook.yml:

# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}
pre-commit:
  commands:
    github-actions:
      glob: '*.{yaml,yml}'
      root: '.github'
      run: echo {staged_files} && actionlint
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint --quiet --fix {staged_files} && git add {staged_files}
    prettier:
      glob: '*.{json,yml,yaml,html,graphql}'
      run: pnpm prettier --write {staged_files} && git add {staged_files}

chore(core): release 0.3.1
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.2.3
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore(yoga): release 0.2.3
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

fix(yoga): logger
  packages/yoga/src/lib/yoga-graphql-driver.ts
Due: eslint

chore(yoga): release 0.2.4
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

fix(core): loosely deserialize args
  packages/core/src/lib/types-builder.ts
Due: eslint

chore(core): release 0.3.2
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.2.4
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore(yoga): release 0.2.5
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

feat(apollo,yoga,core): use graphql child injector context as graphql context
  packages/apollo/src/lib/apollo-graphql-driver.ts
  packages/core/src/lib/decorators.spec.ts
  packages/core/src/lib/decorators.ts
  packages/core/src/lib/driver.ts
  packages/core/src/lib/graphql-server.ts
  packages/core/src/lib/graphql.module.ts
  packages/core/src/lib/resolvers.ts
  packages/core/src/lib/schema-builder.ts
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
  packages/core/src/lib/types.ts
  packages/yoga/src/lib/yoga-graphql-driver.ts
Due: eslint

chore(core): release 0.3.3
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.2.5
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore(yoga): release 0.2.6
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

feat(apollo,yoga,core): use graphql child injector context as graphql context
  packages/apollo/src/lib/apollo-graphql-driver.ts
  packages/core/src/index.ts
  packages/core/src/lib/decorators.spec.ts
  packages/core/src/lib/graphql-http-context.ts
  packages/core/src/lib/schema-builder.ts
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
  packages/core/src/lib/types.ts
  packages/yoga/src/lib/yoga-graphql-driver.ts
Due: eslint

chore(core): release 0.3.4
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.2.6
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore(yoga): release 0.2.7
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

feat(core): make driver optional in module
  packages/core/src/lib/graphql.module.ts
Due: eslint

chore(core): release 0.4.0
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.2.7
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore(yoga): release 0.2.8
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

feat(core): allow schema merging and remove unused injector context dependency
  package.json
  packages/core/package.json
  packages/core/src/lib/decorators.spec.ts
  packages/core/src/lib/schema-builder.ts
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
  pnpm-lock.yaml
Due: eslint, prettier

feat(core): allow schema merging and remove unused injector context dependency
  package.json
  packages/core/package.json
  packages/core/src/lib/decorators.spec.ts
  packages/core/src/lib/graphql-server.ts
  packages/core/src/lib/schema-builder.ts
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
  pnpm-lock.yaml
Due: eslint, prettier

chore(core): release 0.5.0
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.2.8
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore(yoga): release 0.2.9
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

chore(docs): setup mintlify
  .github/workflows/docs.yml
  Writerside/c.list
  Writerside/cfg/buildprofiles.xml
  Writerside/deepkit-graphql.tree
  Writerside/redirection-rules.xml
  Writerside/topics/Middleware.md
  Writerside/topics/Validation.md
  Writerside/topics/annotations.md
  Writerside/topics/apollo.md
  Writerside/topics/concepts.md
  Writerside/topics/context.md
  Writerside/topics/enum.md
  Writerside/topics/getting-started.md
  Writerside/topics/guide.md
  Writerside/topics/interface.md
  Writerside/topics/list.md
  Writerside/topics/mutation.md
  Writerside/topics/parent.md
  Writerside/topics/query.md
  Writerside/topics/resolvers.md
  Writerside/topics/scalars.md
  Writerside/topics/subscription.md
  Writerside/topics/types-inline.md
  Writerside/topics/types-referenced.md
  Writerside/topics/types.md
  Writerside/topics/union.md
  Writerside/topics/utility-types.md
  Writerside/v.list
  Writerside/writerside.cfg
  docs/favicon.svg
  docs/introduction.mdx
  docs/logo/black.png
  docs/logo/white.png
  docs/mint.json
  docs/project.json
  docs/quickstart.mdx
  package.json
  pnpm-lock.yaml
Due: github-actions, prettier

chore(docs): setup mintlify (#71)
  .github/workflows/docs.yml
  Writerside/c.list
  Writerside/cfg/buildprofiles.xml
  Writerside/deepkit-graphql.tree
  Writerside/redirection-rules.xml
  Writerside/topics/Middleware.md
  Writerside/topics/Validation.md
  Writerside/topics/annotations.md
  Writerside/topics/apollo.md
  Writerside/topics/concepts.md
  Writerside/topics/context.md
  Writerside/topics/enum.md
  Writerside/topics/getting-started.md
  Writerside/topics/guide.md
  Writerside/topics/interface.md
  Writerside/topics/list.md
  Writerside/topics/mutation.md
  Writerside/topics/parent.md
  Writerside/topics/query.md
  Writerside/topics/resolvers.md
  Writerside/topics/scalars.md
  Writerside/topics/subscription.md
  Writerside/topics/types-inline.md
  Writerside/topics/types-referenced.md
  Writerside/topics/types.md
  Writerside/topics/union.md
  Writerside/topics/utility-types.md
  Writerside/v.list
  Writerside/writerside.cfg
  docs/favicon.svg
  docs/introduction.mdx
  docs/logo/black.png
  docs/logo/white.png
  docs/mint.json
  docs/project.json
  docs/quickstart.mdx
  package.json
  pnpm-lock.yaml
Due: github-actions, prettier

chore(core): release 0.5.1
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.2.9
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore(yoga): release 0.2.10
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

refactor(core,yoga): internals
  packages/core/src/lib/graphql-server.ts
  packages/core/src/lib/scalars.ts
  packages/core/src/lib/schema-builder.ts
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
  packages/core/src/lib/utils.ts
  packages/yoga/src/lib/yoga-graphql-driver.ts
Due: eslint

chore(docs): add more documentation
  README.md
  docs/comparisons/nestjs.mdx
  docs/concepts/resolvers.mdx
  docs/concepts/types.mdx
  docs/concepts/types/annotations.mdx
  docs/concepts/types/data.mdx
  docs/concepts/types/inline.mdx
  docs/concepts/types/overview.mdx
  docs/concepts/types/referenced.mdx
  docs/concepts/types/utility.mdx
  docs/concepts/types/validation.mdx
  docs/guides/apollo.mdx
  docs/guides/standalone.mdx
  docs/guides/yoga.mdx
  docs/introduction.mdx
  docs/migrations/nestjs.mdx
  docs/mint.json
Due: prettier

chore(core): release 0.5.2
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.2.10
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore(yoga): release 0.2.11
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

chore(docs): integrations
  docs/concepts/types/data.mdx
  docs/concepts/types/utility.mdx
  docs/guides/apollo.mdx
  docs/guides/standalone.mdx
  docs/guides/yoga.mdx
  docs/integrations/apollo.mdx
  docs/integrations/standalone.mdx
  docs/integrations/yoga.mdx
  docs/introduction.mdx
  docs/mint.json
  docs/quickstart.mdx
Due: prettier

feat(core): add initial support for directives Namely FederationKey for resolveReference decorator
  docs/concepts/resolvers.mdx
  docs/concepts/resolvers/context.mdx
  docs/concepts/resolvers/fields.mdx
  docs/concepts/resolvers/middleware.mdx
  docs/concepts/resolvers/mutations.mdx
  docs/concepts/resolvers/overview.mdx
  docs/concepts/resolvers/queries.mdx
  docs/concepts/resolvers/subscriptions.mdx
  docs/concepts/types/data.mdx
  docs/concepts/types/utility.mdx
  docs/mint.json
  packages/core/src/lib/decorators.ts
  packages/core/src/lib/directives.ts
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
  packages/core/src/lib/utils.ts
Due: eslint, prettier

chore(core): release 0.6.0
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.2.11
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none
