Repository marcus-sa/deepkit-graphql: changes, and which lefthook commands are due for each by the changed paths.
All: github-actions, eslint, prettier

github-actions:
  run: echo {staged_files} && actionlint

eslint:
  run: yarn eslint --quiet --fix {staged_files} && git add {staged_files}

prettier:
  run: yarn prettier --write {staged_files} && git add {staged_files}

ci: setup nx cloud
  .github/workflows/build-test-lint.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  nx.json
  package.json
  packages/apollo/package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: github-actions, prettier

Update README.md
  README.md
Due: none

build: fix paths
  packages/apollo/.eslintrc.json
  packages/apollo/.release-it.json
  packages/core/.eslintrc.json
  packages/core/.release-it.json
Due: prettier

chore(graphql): release 0.0.2
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier

chore(apollo-graphql): release 0.0.2
  packages/apollo/CHANGELOG.md
  packages/apollo/package.json
Due: prettier

build: fix paths
  examples/orm-integration/.eslintrc.json
  packages/apollo/.release-it.json
  packages/core/.release-it.json
Due: prettier

chore(core): release 0.0.3
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier

chore(apollo): release 0.0.3
  packages/apollo/CHANGELOG.md
  packages/apollo/package.json
Due: prettier

docs: improvements
  .github/workflows/docs.yml
  README.md
  Writerside/cfg/buildprofiles.xml
  Writerside/deepkit-graphql.tree
  Writerside/images/completion_procedure.png
  Writerside/images/completion_procedure_dark.png
  Writerside/images/convert_table_to_xml.png
  Writerside/images/convert_table_to_xml_dark.png
  Writerside/images/new_topic_options.png
  Writerside/images/new_topic_options_dark.png
  Writerside/redirection-rules.xml
  Writerside/topics/Validation.md
  Writerside/topics/annotations.md
  Writerside/topics/apollo.md
  Writerside/topics/concepts.md
  Writerside/topics/context.md
  Writerside/topics/enum.md
  Writerside/topics/getting-started.md
  Writerside/topics/guide.md
  Writerside/topics/interface.md
  Writerside/topics/list.md
  Writerside/topics/mutation.md
  Writerside/topics/parent.md
  Writerside/topics/query.md
  Writerside/topics/resolvers.md
  Writerside/topics/scalars.md
  Writerside/topics/starter-topic.md
  Writerside/topics/subscription.md
  Writerside/topics/types-inline.md
  Writerside/topics/types-referenced.md
  Writerside/topics/types.md
  Writerside/topics/union.md
  Writerside/topics/utility-types.md
  Writerside/writerside.cfg
  packages/core/package.json
  packages/core/src/lib/graphql-config.ts
  packages/core/src/lib/graphql.module.ts
  packages/core/src/lib/resolvers.ts
  packages/core/src/lib/types.spec.ts
Due: github-actions, eslint, prettier

fix: remove missing export
  packages/core/src/index.ts
Due: eslint

chore(core): release 0.0.4
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier

chore(apollo): release 0.0.4
  packages/apollo/CHANGELOG.md
  packages/apollo/package.json
Due: prettier

docs: fix resolvers.md
  Writerside/topics/resolvers.md
Due: none

chore(core): release 0.0.5
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier

chore(apollo): release 0.0.5
  packages/apollo/CHANGELOG.md
  packages/apollo/package.json
Due: prettier

Create CNAME
  CNAME
Due: none

chore(core): release 0.0.6
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier

chore(apollo): release 0.0.6
  packages/apollo/CHANGELOG.md
  packages/apollo/package.json
Due: prettier

build(nx): ignore CHANGELOG.md
  .github/workflows/docs.yml
  nx.json
Due: github-actions, prettier

chore(core): release 0.0.7
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier

chore(apollo): release 0.0.7
  packages/apollo/CHANGELOG.md
  packages/apollo/package.json
Due: prettier

Delete CNAME
  CNAME
Due: none

chore(core): release 0.0.8
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier

chore(apollo): release 0.0.8
  packages/apollo/CHANGELOG.md
  packages/apollo/package.json
Due: prettier

build(nx): ignore CHANGELOG.md
  .nxignore
  nx.json
Due: prettier

build(nx): fix release it versioning
  .nxignore
  packages/apollo/.release-it.json
  packages/apollo/package.json
  packages/apollo/package.version
  packages/core/.release-it.json
  packages/core/package.json
  packages/core/package.version
Due: prettier

docs: attempt to fix algolia indexing
  Writerside/cfg/buildprofiles.xml
Due: none

docs: fix writerside.cfg
  Writerside/writerside.cfg
Due: none

build(nx): fix release
  nx.json
  packages/apollo/.release-it.json
  packages/core/.release-it.json
Due: prettier

ci: attempt to fix upload of algolia indexes
  .github/workflows/docs.yml
Due: github-actions, prettier

ci: attempt to fix release
  packages/apollo/.release-it.json
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
  packages/core/.release-it.json
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: prettier

build: attempt to fix release
  packages/apollo/.release-it.json
  packages/core/.release-it.json
Due: prettier

build: attempt to fix release
  packages/apollo/package.version
  packages/core/package.version
Due: none

Update docs.yml
  .github/workflows/docs.yml
Due: github-actions, prettier

feat(core,apollo): add middleware support
  Writerside/deepkit-graphql.tree
  Writerside/topics/Middleware.md
  Writerside/topics/types-inline.md
  package.json
  packages/apollo/package.json
  packages/apollo/src/lib/apollo-graphql-config.ts
  packages/apollo/src/lib/apollo-graphql-driver.ts
  packages/apollo/src/lib/apollo-graphql.module.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/lib/__snapshots__/decorators.spec.ts.snap
  packages/core/src/lib/decorators.spec.ts
  packages/core/src/lib/decorators.ts
  packages/core/src/lib/errors.ts
  packages/core/src/lib/graphql-http-context.ts
  packages/core/src/lib/graphql-server.ts
  packages/core/src/lib/graphql.module.ts
  packages/core/src/lib/resolvers.ts
  packages/core/src/lib/scalars.ts
  packages/core/src/lib/schema-builder.ts
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
  packages/core/src/lib/types.ts
  packages/core/src/lib/utils.spec.ts
  packages/core/src/lib/utils.ts
  patches/@deepkit__type-compiler@1.0.1-alpha.105.patch
  patches/@deepkit__type-compiler@1.0.1-alpha.97.patch
  pnpm-lock.yaml
Due: eslint, prettier

chore(deps): add missing patch for deepkit type compiler
  patches/@deepkit__type-compiler@1.0.1-alpha.105.patch
  pnpm-lock.yaml
Due: prettier

chore(apollo,core): update README.md
  packages/apollo/README.md
  packages/core/README.md
Due: none

chore(deps): add missing dependency
  package.json
  pnpm-lock.yaml
Due: prettier

chore(core): release 0.0.3
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

Path conditions:
  github-actions: any of: *.{yaml,yml} and ^\.github/
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{json,yml,yaml,html,graphql}
