Repository marcus-sa/deepkit-graphql: changes, and which lefthook commands are due for each by the changed paths.
All: github-actions, eslint, prettier

github-actions:
  run: echo {staged_files} && actionlint

eslint:
  run: pnpm eslint --quiet --fix {staged_files} && git add {staged_files}

prettier:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

chore(yoga): release 0.2.12
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

feat(core): implement federation resolve reference field resolver lots of internal improvements for directives
  package.json
  packages/apollo/package.json
  packages/apollo/src/index.ts
  packages/apollo/src/lib/apollo-driver.ts
  packages/apollo/src/lib/apollo-federation-driver.ts
  packages/apollo/src/lib/apollo-gateway-driver.ts
  packages/apollo/src/lib/apollo-graphql-config.ts
  packages/apollo/src/lib/apollo-graphql.module.ts
  packages/core/src/lib/__snapshots__/decorators.spec.ts.snap
  packages/core/src/lib/decorators.spec.ts
  packages/core/src/lib/decorators.ts
  packages/core/src/lib/directives.spec.ts
  packages/core/src/lib/directives.ts
  packages/core/src/lib/errors.ts
  packages/core/src/lib/schema-builder.ts
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
  packages/core/src/lib/types.ts
  packages/yoga/src/lib/yoga-graphql-driver.ts
  pnpm-lock.yaml
Due: eslint, prettier

chore(core): release 0.7.0
  packages/core/CHANGELOG.md
  packages/core/package.version
Due: none

chore(apollo): release 0.2.12
  packages/apollo/CHANGELOG.md
  packages/apollo/package.version
Due: none

chore(yoga): release 0.2.13
  packages/yoga/CHANGELOG.md
  packages/yoga/package.version
Due: none

chore: save
  docs/concepts/types/directives.mdx
  docs/concepts/types/inline.mdx
  docs/concepts/types/referenced.mdx
  docs/integrations/apollo-federation.mdx
  docs/mint.json
  packages/core/src/lib/decorators.spec.ts
  packages/core/src/lib/directives.ts
  packages/core/src/lib/graphql-server.ts
  packages/core/src/lib/graphql.module.spec.ts
  packages/core/src/lib/graphql.module.ts
  packages/core/src/lib/schema-builder.ts
  packages/core/src/lib/types-builder.spec.ts
  packages/core/src/lib/types-builder.ts
  packages/core/src/lib/types.ts
  packages/core/src/lib/utils.ts
  packages/yoga/src/lib/yoga-graphql-driver.ts
Due: eslint, prettier

fix(core): optional inputs
  packages/core/src/lib/types-builder.ts
  packages/core/src/lib/utils.ts
Due: eslint

chore(deps): upgrade
  .github/actions/setup/action.yml
  .tool-versions
  package.json
  packages/core/package.json
  packages/core/src/lib/types-builder.spec.ts
  pnpm-lock.yaml
Due: github-actions, eslint, prettier

Path conditions:
  github-actions: any of: *.{yaml,yml} and ^\.github/
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{json,yml,yaml,html,graphql}
